# ===========================================
# Postprodukcja Dźwięku - Environment Configuration
# ===========================================
# cp .env.example .env

PROJECT_FOLDER=/var/www/html

DOCKER_PREFIX=ppd-

# WordPress Database
WP_DB_HOST=db
WP_DB_NAME=wordpress
WP_DB_USER=wordpress
WP_DB_PASSWORD=secret

# Public Services Ports
WORDPRESS_PORT=8080
WORDPRESS_DB_PORT=3306
