.agents
.idea
.env

# default Wordpress themes
wordpress/wp-content/themes/twentytwentythree
wordpress/wp-content/themes/twentytwentyfour
wordpress/wp-content/themes/twentytwentyfive

# Wordpress plugins
wordpress/wp-content/plugins/*

# Wordpress uploads
wordpress/wp-content/uploads/*